.warranty {
  padding: 30px 15px;
  border: 2px dashed red

}

.warranty__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 2px dashed red;
}

/* warranty__text-block */

.warranty__title{
  font-size: 26px;
  font-weight: 700;
	margin-bottom: 20px;
}

.warranty__copy{
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
	border: 2px dashed red;
}

/* warranty__copy */

.warranty__image-block{
	height: 72vw;
  border: 1px solid #AAAAAA;
  border-radius: 20px;
  overflow: hidden;
}
